*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

/* navbar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}

.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;

}

.navbar ul li a{
    text-decoration: none;
    color:white;
    padding: 8px 25px;
    transition: all .5s ease;
}

.navbar ul li a:hover{
    border-bottom: 2px solid red;
}

/* Home Section */

#home{
    display: flex;
    flex-direction: column;
    height: 650px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('image2.jpg') no-repeat center center/cover;
    height: 700px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}


.headings{
    color: white;
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    transform: scale(1,1.3);
}



/* Education Section */
#education{
    display: flex;
    flex-direction: column;
    height: 650px;
    background-color: #000000dc;
}
#education h1{
    margin: 60px;
}
.columns{
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 50px;
}
.box{
    height: 200px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
}
.box h2{
    color: yellowgreen;
    font-size: 2rem;
    margin-bottom: 40px;
}
.box ul li{
    color: white;
    font-size: 1.1rem;
}

/* Project Section */
#project{
    display: flex;
    flex-direction: column;
    height: 650px;
    background-color: #000000dc;
}
#project h1{
    margin: 60px;
}
.columns{
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 50px;
}
.box{
    height: 200px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
}
.box h2{
    color: yellowgreen;
    font-size: 2rem;
    margin-bottom: 40px;
}
.box ul li{
    color: white;
    font-size: 1.1rem;
}

/* About me  */

#about{
    display: flex;
    flex-direction: column;
    text-align: justify;
    height: 100%;
}
#about h1{
    color: black;
    margin: 55px;
}
.about{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.about img{
    width: 300px;
    height: 400px;
    padding: 0px 30px;
}
.name{
    padding: 10px;
}
.name h2{
    font-size: 2rem;
}
.name p{
    font-size: 1.2rem;
}



.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Linkedin */
.fa-linkedin {
  background: blue;
  color: white;
}

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}